:root{
    --ghost: #F6F7FF;
    --persian: #26187D;
    
    --charcoal: #21283A;
    --peach: #FBA580;

    --cyprus: #004741;
    --sand: #F0EDE4;

    --fake-plum: #4B1D3F;
    --plum: #371931;
    --milk: #FEF3E5;

    --imperial: #FB3640;
    --dark-imperial: #8a1924;
    --night: #222222;

    --navy: #1D1E33;
    --orange: #F47117;

    --indigo: #413A8E;
    --rich-violet: #301F45;
    --amethyst: #794A88;
    --pastel-sapphire: #87A0D3;
    --sapphire: #899EF4;
    --grayed-blue: #AAB7D4;
    --silvered-gray: #B8BCC8;
    --vibrant-cyan: #8FC9D8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--navy);
}

.navbar {
    width: 100%;
    top: 0;
    z-index: 10000;
    background-color: var(--dark-imperial);
    padding: 20px;
    gap: 20px;
    color: var(--ghost);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--ghost);
    font-weight: bold;
}

.titulo-pagina {
    text-align: center;
    margin-bottom: 20px;
    color: var(--imperial);
}

/* Container flexível para os cards */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 80dvw;
    margin: 0 auto;
}

/* Card individual */
.card {
    position: relative;
    background-color: var(--charcoal);
    border-radius: 8px;
    width: 260px;
    padding: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ID no canto do card */
.id-card {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 11px;
    background-color: var(--dark-imperial);
    padding: 2px 6px;
    border-radius: 10px;
    color: var(--imperial);
}

/* Nome/título principal do card */
.nome-card {
    font-size: 18px;
    color: var(--imperial);
    margin-bottom: 2px;
    text-transform: capitalize;
}

/* Informação secundária */
.info-secundaria {
    font-size: 13px;
    color: var(--vibrant-cyan);
    margin-bottom: 10px;
}

/* Informações gerais */
.info-card {
    font-size: 13px;
    color: var(--silvered-gray);
    margin-bottom: 6px;
}

/* Informações que podem conter textos longos */
.quebra-texto {
    word-break: break-all;
}

/* Seção isolada do card */
.secao-card {
    margin-top: 12px;
    padding-top: 10px;
    border-top: 1px solid var(--dark-imperial);
}

/* Informações menores */
.info-pequena {
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
}

/* Informações com capitalização */
.capitalizado {
    text-transform: capitalize;
}

.dark-mode{
    background-color: #1e1e1e;
    color: #fff;
}