:root{
    --ghost: #F6F7FF;
    --persian: #26187D;
    
    --charcoal: #21283A;
    --peach: #FBA580;

    --cyprus: #004741;
    --sand: #F0EDE4;

    --fake-plum: #4B1D3F;
    --plum: #371931;
    --milk: #FEF3E5;

    --imperial: #FB3640;
    --night: #222222;

    --navy: #1D1E33;
    --orange: #F47117;

    --indigo: #413A8E;
    --rich-violet: #301F45;
    --amethyst: #794A88;
    --pastel-sapphire: #87A0D3;
    --sapphire: #899EF4;
    --grayed-blue: #AAB7D4;
}